body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #303030;
  /*seteando los archivos*/
  margin:0; /*se le quitan los margin que vienen por defecto en los elementos*/
  padding:0; /*se le quitan los padding que vienen por defecto en los elementos*/
}
/*clases reutilizables*/
.t-uppercase {
  text-transform: uppercase;
}
.box-header {
  display: inline-block;
}

/*clases especificas*/
/*solo con la clase box-header la imagen desaparecio por eso es importante ponerle un ancho para que vuelv a a aparecer*/
.logo-header {
  width: 200px;
}
li {
  display: inline; /*para que la lista se presente una al costado del otro*/
  list-style: none;/*visualmente no es necesario cuando se habra el archivo en otros navegadores es necesario*/
}
li a{
  color: inherit;
  text-decoration: none;
}
header {
  position: relative;
}
nav {
  position: absolute;
  right: 5%;
  top: 50%;/*empieza en la mitad de la altura del header*/
  transform: translateY(-50%); /*para mover lamitad de la medida de la altura del texto*/
}
section {
  text-align: center;
}
div {
  width: 33%;
  display: inline-block;
}
